.container {
  background-color: var(--color-background-container);
  border-radius: 10px;
  max-width: 343px;

  .image {
    overflow: hidden;
    height: 240px;
    border-radius: 10px 10px 0 0;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      top: -100px;
    }
  }

  .info {
    padding: 20px;

    small {
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: var(--color-primary);
    }

    h1 {
      font-family: 'Fraunces';
      font-weight: 700;
      font-size: 32px;
      color: #1c232b;
      line-height: 32px;
      margin: 10px 0;
    }

    p {
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 23px;
      color: var(--color-primary);
      margin: 20px 0;
    }

    .price p {
      font-family: 'Fraunces';
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      color: var(--color-secondary);

      display: flex;
      align-items: center;

      span {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        text-decoration: line-through;
        color: #6c7289;
        margin-left: 20px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      padding: 15px 10px;
      text-align: center;
      background-color: var(--color-secondary);
      display: block;
      border-radius: 10px;

      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--color-secondary-dark);
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 450px;
    max-width: 600px;

    .image {
      height: 450px;
      border-radius: 10px 0 0 10px;

      img {
        top: 0px;
      }
    }

    .info {
      height: 450px;
      padding: 35px;

      h1 {
        margin: 15px 0;
      }

      p {
        margin: 25px 0;
      }
    }
  }
}
