:root {
  --color-background: #f2eae2;
  --color-background-container: #fff;
  --color-primary: #6c7289;
  --color-secondary: #3d8168;
  --color-secondary-dark: #1a4032;
}

@font-face {
  font-family: 'Fraunces';
  src: local('Fraunces'),
    url('./fonts/Fraunces144ptSoft-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
